<section class="thirteen columns">
    <h1>Formação Acadêmica</h1>
    <article>
        <header>
            <h1>Tecnologia em Sistemas de Computação</h1>
            <span>CEDERJ/UFF</span>
            <span><address>Campos dos Goytacazes, RJ.</address><time>Incompleto até 1º período</time></span>
        </header>
        <p>
            <em>Dissertação: </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Técnico em Informática, Tecnologia da informação e serviços.</h1>
            <span>Escola Técnica - New Informática</span>
            <span><address>Campos dos Goytacazes, RJ.</address><time>2012 – 2013</time></span>
        </header>
        <p>
            <em>Dissertação: </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Liceu de Humanidades de Campos.</h1>
            <span>Ensino médio</span>
            <span><address>Campos dos Goytacazes, RJ.</address><time>2010 – 2011</time></span>
        </header>
        <p>
            <em>Dissertação: </em>
        </p>
    </article>
</section>
