<section class="thirteen columns">
    <h1>Empregos</h1>
    <article>
        <header>
            <h1>Técnico em informática – Suporte Técnico</h1>
            <span><address>Campos dos Goytacazes, RJ</address><time>Março de 2015 – Janeiro de 2016</time></span>
        </header>
        <p>Externato Campista.</p>
    </article>
    <article>
        <header>
            <h1>Técnico em informática – Suporte Técnico e Desenvolvedor de Software Web.</h1>
            <span><address>Campos dos Goytacazes, RJ</address><time>Março de 2014 – Março 2015</time></span>
        </header>
        <p>Data Campos informática e Tecnologia.</p>
    </article>
    <article>
        <header>
            <h1>Estagiário - Desenvolvedor de Software Web</h1>
            <span><address>Campos dos Goytacazes, RJ</address><time>Maio de 2013 – Novembro de 2013</time></span>
        </header>
        <p>GlobalNetSis - Consultoria & Desenvolvimento de Soluções em TI.</p>
    </article>
    <article>
        <header>
            <h1>Estagiário - Suporte</h1>
            <span><address>Campos dos Goytacazes, RJ</address><time>Setembro de 2012 – maio de 2013</time></span>
        </header>
        <p>CENSANET.</p>
    </article>
    <article>
        <header>
            <h1>Professor Orientador de Informática Educativa</h1>
            <span><address>Campos dos Goytacazes, RJ</address><time>janeiro de 2013 – agosto de 2013</time></span>
        </header>
        <p> Educador de informática (CENSA).</p>
    </article>
</section>
